{% extends 'layout.html' %}

{% block title %}Videos{% endblock %}

{% block content %}

<div class="container mx-auto mt-4 divEfec">


    <div class="row">
      {% for row in row %}
       <div class="col-md-4">
         <div class="card" style="width: 18rem;">
    
          <div class="card-body B">
         <h5 
         class="card-title"  data-toggle="tooltip">
         <li class="card-title" data-toggle="tooltip" data-placement="top" title="{{row['titulo']}}">  {{row['titulo']}}</li>
        
      
         </h5>
        
  
       
          <iframe
          width="320" height="215" 
          src="{{row['url']}}" 
          title="YouTube video player" 
          frameborder="0" 
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
          allowfullscreen>
        </iframe>
        <a href="{{url_for('views_videos', id=row['id'])}}" class="btn "><i class="fab fa-youtube"></i> videos</a>
       
         
      
    </div>
    </div>
      </div>    
      {%endfor%}




   
            
 

  


        
   


        
     
   

      
   

  </div>
    </div>


<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  });
    </script>
{% endblock %}